@import "~bootstrap/scss/bootstrap";
@import "card";
@import "icons";

html {
  height: auto;

  body {
    background-color: lemonchiffon;
  }

  .home-link {
    position: fixed;
    top: 20px;
    right: 20px;
    text-decoration: none;
  }
}
